* {
    margin: 0;
    background: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

:root {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

div {
    width: 100%;
    max-width: 400px;

    display: block;
    text-align: center;

    border: 1px rgba(255, 255, 255, 0.2) solid;

    padding: 32px 48px 8px 48px;

    position: inherit;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 1.5em;
    justify-content: center;
}

form input {
    width: 100%;
    background: #111111;
    text-align: center;
    font-size: 1.25em;
    padding: 12px 0px;
    border: none;
    outline: none;
}

form input::placeholder {
    color: #323232;
}

form button {
    width: 100%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px white solid;
    padding: 12px 24px;
    transition: background 0.2s;
    margin-bottom: 24px;
}

form button:hover {
    background: rgba(255, 255, 255, 0.1);
}

main p {
    padding: 8px 0px;
}